include ../components/head.pug
body
    div.container
        div.row
            include ../components/header.pug
            
            include ../components/aside.pug

            block content 

            include ../components/footer.pug
