.card-img-top{
    max-height: 300px;
    object-fit: contain;
}

.form-check-input:checked{
    background-color: #28a745;
    border-color: #28a745;
}

.pagination .page-link{
    border-color: #28a745;
    color: #28a745;
}

.pagination .page-item.active .page-link{
    border-color: #28a745;
    background-color: #28a745;
    color: #fff;
}

.block-scroll{
    overflow: hidden;
}

@media(max-width: 992px){
    .aside {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        background-color: #fff;
        padding-top: 10px;
        overflow: auto;
    }

    .filters-btn{
        position: fixed;
        width: auto;
        height: 40px;
        right: 10px;
        top: 10px;
        z-index: 2;
    }

    .filters-close-btn {
        position: fixed;
        right: 10px;
        top: 10px;
    }

    .card-img-top{
        max-height: 200px;
    }
}
